div{
 margin: 0 auto;
}

body {
    background-color: black;
}

#svg{
  background-color: darkseagreen;
  background: radial-gradient(darkseagreen 0%, black 70%);
  width: 500px;
}
.flower{
        width:300px;
        margin:50px;
        float:left;
        position: absolute;
        left: 1%;
}
.all{
        width:500px;
        margin:20px;
       
}
.text{
        width:300px;
        margin:50px;
        float:right;
        position: absolute;
        right:500px;
}
