.navbox {
	margin:0px auto;
	position:relative;
	width:540px;
}
/* sliderNav */
#sliderNav {
	font-size:40px;
	margin:-60px 0 0 0;
}
#sliderNav li.sliderTag h3, #sliderNav li.sliderTag a {
	display:block;
	width:180px;
	padding:5px 18px;
	margin:0 0 5px 0;
}
#sliderNav li.sliderTag h3 {
	color:#000;
	background:#eee;
	font-weight:normal;
	font-size:40px;
}
#sliderNav li.sliderTag a {
	color:#999;
	background:#4B4B4B;
	border:1px solid #1a1a1a;
	text-decoration:none;
}
#sliderNav li.sliderTag a:hover {
	color:#ffff66;
}